


// CSS footer


footer {

    .footer__widgets {
        padding: 60px 0 10px;
        border-top: 4px solid #2e2e2e;
        background-color: #454545;
        .widgets__col {
            margin-bottom: 50px;
            .widgets__col--title {
                font-size: 16px;
                margin-bottom: 1.6em;
                h3 {
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #d8d8d8;
                }
            }
        }
        .widgets__menu {
            ul {
                li {
                    height: 40px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
                    padding: 6px 0 8px;
                    i {
                        font-size: 120%;
                        transform: translate(-5px, 2px);
                        line-height: 24px;
                    }
                    a {
                        color: #8c8c8c;
                        line-height: 24px;
                        &:hover {
                            color: $greenColor;
                            text-decoration-line: underline;
                        }
                    }
                }
            }

        }

        .widgets__posts {
            .widgets__posts--list-item {
                ul.widgets__posts--item {
                   
                    li.duong-ngang {
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.08);
                        margin: 20px 0;
                    }
                    li.post-item {
                        display: flex;
                        flex-wrap: nowrap;
                        .post-item__img {
                            margin-right: 20px;
                            width: 150px !important;
                            height: 90px;
                            padding: 3px;
                            border: 1px solid #d8d8d8;
                            position: relative;
                            border-radius: 3px;
                            $width-img: 142px;
                            cursor: pointer;
                            img {
                                
                                width: $width-img;
                                vertical-align: middle;
                                border-radius: 3px;
                            }
                            .img-overlay {
                                width: $width-img;
                                // height: ;
                                height: 84px;
                                background-color: rgba(0, 0, 0, 0.8);
                                position: absolute;
                                top: 3px;
                                left: 3px;
                                opacity: 0;
                                transition: 0.3s;
                            }
                            a {
                                position: absolute;
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                background-color: $greenColor;
                                top: 35%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: 0.3s;
                                i {
                                    line-height: 30px;
                                    display: block;
                                    text-align: center;
                                    color: #fff;
                                    font-size: 120%;
                                }
                            }
                            &:hover {
                                .img-overlay {
                                    opacity: 1;
                                }
                                a {
                                    opacity: 1;
                                    top: 50%;
                                }
                            }
                            
                        }
                        .post-item__text {
                            p.post-item__text--date {
                                color: #b4b8be;
                                font-size: 12px;
                                font-style: italic;
                            }
                            p.post-item__text--content {
                                a {
                                    color: #d8d8d8;
                                    font-weight: 400;
                                    &:hover {
                                        color: $greenColor;
                                        text-decoration-line: underline;
                                        text-decoration-color: rgba(255, 255, 255, 0.08);

                                    }
                                }
                            }
                        }
                        

                    }
                }
            }
        }
        .widgets__newsletter {
            .widgets__newsletter--content {
                p {
                    margin-bottom: 21px;
                }
                form {
                    display: flex;
                    flex-wrap: nowrap;
                    @media screen and (max-width:1200px) {
                        display: initial;
                    }
                    input {
                        @media screen and (max-width:1200px) {
                            margin-bottom: 20px;
                            margin-right: 0;
                            width: 100%;

                        }
                        display: block;
                        flex-grow: 2;
                        margin-right: 20px;
                        color: #8c8c8c;
                        padding: 12px 24px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        outline: none;
                        border-radius: 5px;
                        background: #2e2e2e;
                        border: 1px solid #575757;
                        transition: 0.3s;
                        &:focus {
                            border-color: #a6ce39;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(166, 206, 57, 0.6);
                        }
                    }
                    a {
                        display: block;
                        text-align: center;
                        width: 98px ;
                        height: 44px;
                        color: #fff;
                        font-weight: 400;
                        line-height: 44px;
                        background-color: $greenColor;
                        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06), 2px 3px 0 rgba(0, 0, 0, 0.05);
                        transition: 0.3s;
                        border-radius: 5px;
                        @media screen and (max-width:1200px) {
                            margin-bottom: 20px;
                            margin-right: 0;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:hover {
                            background-color: #98be2f;
                        }
                    }
                }
            }
        }

    }




    .footer__copyright {
        position: relative;
        padding: 25px 0;
        background-color: #2e2e2e;
        a.btn-go-top {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #454545;
            border-radius: 50%;
            i {
                line-height: 40px;
                font-size: 20px;
                color: #fff;
                transform: translateY(7px);
                transition: 0.3s;
            }
            &:hover {
                background-color: #fff;
                i {
                transform: translateY(0px);
                color: #2e2e2e;
                font-weight: bold;

                }
            }
        }
        .footer__copyright--left {
            p {
                @media screen  and (max-width: 768px){
                    text-align: center;
                    margin-bottom: 10px;
                }
                font-size: 13px;
                line-height: 28px;
                a {
                    color: #fff;
                    &:hover {
                        color: $greenColor;
                        text-decoration-line: underline;
                    }
                }
            }
        }
        .footer__copyright--right  {
            
            ul {
                text-align: end;
                li:first-child {
                    font-size: 13px;
                    margin-right: 5px;
                }
                li {
                    display: inline-block;
                    line-height: 28px;
                    margin-left: 4px;
                    a {
                        display: block;
                        width: 28px;
                        height: 28px;
                        text-align: center;
                        i {
                            color: #c7c7c7;
                            font-size: 20px;
                            line-height: 28px;
                            vertical-align: middle;
                        
                        }
                        &:hover {
                            background-color: $greenColor;
                            i {
                                color: #fff;
                            }
                        }
                    }
                }
                @media screen  and (max-width: 768px){
                    text-align: center;
                }
            }
            
        }
    }

}